[submodule "itch.p4app/third-party/libtrading"]
	path = itch.p4app/third-party/libtrading
	url = https://github.com/libtrading/libtrading
[submodule "itch_tools/third-party/libtrading"]
	path = itch_tools/third-party/libtrading
	url = https://github.com/libtrading/libtrading
[submodule "itch_tools/third-party/liblfds"]
	path = itch_tools/third-party/liblfds
	url = https://github.com/liblfds/liblfds
	ignore = dirty
